{% extends 'base.html.twig' %}

{% block title %}Modification de question{% endblock %}

{% block body %}
<div class="container mt-3 rounded border border-primary bg-light ">
    <h1>Modifier la question n° {{ question.id }}</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_question_index') }}">back to list</a>

    {{ include('question/_delete_form.html.twig') }}
</div>
{% endblock %}
