{% extends 'base.html.twig' %}

{% block title %}Nouvelle Question{% endblock %}

{% block body %}
<div class='container'>
    <h1>Créer une nouvelle question</h1>
                {% if question.attachmentPath %}
                <img src="{{ question.imagePath }} " height="100">
            {% endif %}

    {{ include('question/_form.html.twig') }}
    

    <a class="btn btn-primary mt-2" href="{{ path('app_main') }}">Retour</a>
    </div>
{% endblock %}
