{% extends 'base.html.twig' %}

{% block title %}Nouvelle question + {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-5">Ajouter une nouvelle question</h1>
        {{ include('question/_form.html.twig') }}
    </div>

{% endblock %}
