{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="container border bg-black ">
        <h1 class="alert-danger">Hello QRG 22</h1>
        <h2>Welcome</h2>
    </div>

{% endblock %}
