{% extends 'base.html.twig' %}

{% block title %}Admin | QuizRetroGaming{% endblock %}

{% block body %}
    <div style="image-rendering: smooth;" class="container">

            <h1 class="text-center">Administration du site</h1>
            <div class=" flex-wrap justify-content-center text-center">
                {% if ('ROLE_ADMIN' in app.user.roles) %}
                    <div >
                        <a class="card p-2 m-2" href="{{ path('app_question_to_valid') }}">Questions en attente de validation</a>
                    </div>
                    <div>
                        <a class="card p-2 m-2" href="{{ path('app_user_index') }}">Liste des utilisateurs</a>
                    </div>
        
                {% endif %}
                {% if ('ROLE_PUBLISHER' in app.user.roles)  or ('ROLE_ADMIN' in app.user.roles) %}              
                    <div >
                        <a class="card p-2 m-2" href="{{ path('app_question_my_questions') }}">Mes questions soumises</a>
                    </div>
                    <div>
                        <a class="card p-2 m-2" href="{{ path('app_tag_new') }}">Ajouter une catégorie de question (tag)</a>
                    </div>
                {% endif %}

                

            </div>
    </div>

{% endblock %}
