{% extends 'base.html.twig' %}

{% block title %}Home | QuizRetroGaming{% endblock %}

{% block body %}
    <div class="my-2 border rounded container flex-wrap justify-content-center align-items-center d-flex">
        <div class="w-100 rounded-bottom" style="height:450px;image-rendering: smooth;">
        test
        </div>
        <div class="bg-primary w-100 rounded mt-2 text-center" style="height:100%">
        </div>
    </div>

{% endblock %}
