/****** LOGIN & REGISTER *******/
.login-container{
    width: 100%;
    top: 30%;
    position: absolute;
}
.login-body{
    background-image:url("../resources/bg-jv.webp") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
.label_birthdate{
    margin-top: 10px;
    font-weight: bold;
}